@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../fonts/Lufga-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@mixin custom-button-style {
  font-family: 'Lufga';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid #fff;
  border-radius: 60px;
  padding: 17px 60px;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

//HEADER HEADER
//HEADER HEADER
//HEADER HEADER

.container {
  width: 1440px;
  margin: 0 auto;

  .container-bg {
    background-image: url("../img/1-section/bg.svg");
    background-repeat: no-repeat;

    .container-bg-banner {
      display: flex;
      flex-direction: column;
      padding: 0 140px 100px 140px;
      margin: 0 auto;
      line-height: 0.7;

      .container-bg-banner-text {
        color: #ffffff;
        text-align: left;
        font-family: "Lufga-SemiBold", sans-serif;
        font-size: 48px;
        letter-spacing: -0.015em;
        font-weight: 600;
      }

      .container-bg-banner-mid {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 115px;
        padding-bottom: 50px;

        p:nth-child(1) {
          color: #ffffff;
          text-align: left;
          font-family: "Lufga", sans-serif;
          font-size: 295px;
          letter-spacing: -0.015em;
          font-weight: 300;
          z-index: 2;
        }

        .container-bg-banner-mid-leaf {
          position: absolute;
          z-index: 1;
          left: 41%;
          top: -25%;
        }

        p:nth-child(3) {
          color: #ffffff;
          text-align: left;
          font-family: "Lufga", sans-serif;
          font-size: 341.9669494628906px;
          letter-spacing: -0.015em;
          font-weight: 800;
        }
      }

      .container-bg-banner-bot-text {
        color: #ffffff;
        text-align: left;
        font-family: "Lufga", sans-serif;
        font-size: 20px;
        letter-spacing: -0.015em;
        font-weight: 400;
        margin: 0 auto;
        line-height: 1.3;
      }
    }

    //HEADER HEADER
    //HEADER END
    //HEADER HEADER

    .container-bg-bottom {
      display: flex;
      justify-content: space-between;
      padding: 0 60px 20px 20px;

      .container-bg-bottom-left-boxes {
        display: flex;
      }

      .container-bg-1-box {
        position: relative;
        display: flex;
        flex-direction: column;

        backdrop-filter: blur(14px);
        background: rgba(255, 255, 255, 0.2);

        border: 1px solid #979797;
        border-radius: 32px;
        padding: 20px 50px 20px 20px;

        gap: 20px;

        p:nth-child(1) {
          font-family: Lufga;
          font-weight: 500;
          font-size: 38px;
          letter-spacing: -0.01em;
          color: #fff;
        }

        p:nth-child(2) {
          font-family: Lufga;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: -0.01em;
          color: #fff;
        }
      }
      .container-bg-bottom-bottom-box{
        position: absolute;
        left: 80%;
      }
    }
  }
}



.header-nav {
  display: flex;
  padding: 37px 45px 124px 45px;
  justify-content: space-between;
  flex-direction: row;

  .header-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;

    .header-nav-left-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-nav-left-home {
      @include custom-button-style;
    }
  }

  .header-nav-left-contact {
    @include custom-button-style;
  }

  .header-nav-left-blog {
    @include custom-button-style;
  }
}

.header-nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;


  .header-nav-right-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-left-shop {
    @include custom-button-style;
  }

  .header-nav-left-login {
    @include custom-button-style;
  }
}


//HEADER HEADER
//HEADER MIDDLE
//HEADER HEADER

